@use '../../styles/global.scss' as styles;

.container {
    display: flex;
    flex-direction: row;
    color: styles.$colorDark;
    padding: styles.$spacing2;

    &:hover {
        background-color: styles.$colorLightgray;
        transition: 150ms;
    }

    .item-info {
        padding-top: styles.$spacing2;
        padding-bottom: styles.$spacing2;
        flex-grow: 2;

        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__amount {
                font-size: styles.$fontBig;
                font-weight: styles.$fontWeightMedium;
                margin-right: styles.$spacing1;
            }

            &__location {
                font-size: styles.$fontSmallest;
                color: styles.$colorGrayLighter;
            }
        }
    
        &__title {
            font-size: styles.$fontNormal;
            margin-top: styles.$spacing4;
        }
    
    }
    
    .image {
        width: 180px;
        height: 180px;
        margin-right: styles.$spacing2;
        border-radius: styles.$borderRadius1;
    }
}