@use '../../styles/global.scss' as styles;

.container {
    padding: styles.$spacing2 0px;
    font-size: styles.$fontSmaller;
    color: styles.$colorDark;

    .separator {
        margin-left: styles.$spacing1;
        margin-right: styles.$spacing1;
    }
}
