@use '../../styles/global.scss' as styles;

.content {
    max-width: styles.$spacingMainColumn;
    margin: auto;
    color: styles.$colorDark;
    padding: 0px styles.$spacing3 0px styles.$spacing3;
    
    .item {
        padding: styles.$spacing3;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: styles.$spacing3;
        background-color: white;
        border-radius: styles.$borderRadius1;

        &__description-col {
            width: 680px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: styles.$spacing4;

            &__picture {
                margin-bottom: styles.$spacing4;
                width: 100%;
            }

            &__description-title {
                margin-bottom: styles.$spacing4;
                font-size: styles.$fontBiger;
                font-weight: styles.$fontWeightMedium;
            }

            &__description {
                margin-bottom: styles.$spacing4;
            }
        }

        &__info-col {
            display: flex;
            flex-direction: column;
            margin-bottom: styles.$spacing4;

            &__metadata {
                font-size: styles.$fontSmaller;
            }
    
            &__title {
                font-size: styles.$fontBig;
                font-weight: styles.$fontWeightBold;
            }

            &__price {
                font-size: styles.$fontBigest;
                margin: styles.$spacing4 0px styles.$spacing4 0px;
            }
        }

        @media only screen and (max-width: 1025px) {
            flex-direction: column;
            
            &__description-col {
                width: 100%;
                flex-shrink: 1;
                margin-bottom: 0px;

                &__picture {
                    margin: auto;
                    margin-bottom: styles.$spacing4;
                }
            }

            &__info-col {
                margin-bottom: 0px;
            }
        }
    }
}