@use '../../styles/global.scss' as styles;

.content {
    padding-left: styles.$spacing3;
    padding-right: styles.$spacing3;
    max-width: styles.$spacingMainColumn;
    margin: auto;

    .items {
        background-color: white;
        border-radius: styles.$borderRadius1;

        &__separator {
            margin: 0px styles.$spacing2 0px styles.$spacing2;
            box-sizing: border-box;
            width: calc(100% - styles.$spacing4);
            border-top: 1px solid styles.$colorLightgray;
        }
    }
}
