@use '../../../styles/global.scss' as styles;

$input-height: 36px;

.container {
    width: 100%;
    background-color: styles.$colorPrimary;
    
    .content {
        max-width: styles.$spacingMainColumn;
        margin: auto;
        padding: styles.$spacing1 styles.$spacing3;
        display: flex;
        align-items: center;

        .search-bar {
            display: flex;
            flex-grow: 2;
            border-radius: styles.$borderRadius1;
            overflow: hidden;
            margin-left: styles.$spacing3;

            &__input {
                display: flex;
                flex-grow: 2;
                height: calc($input-height);
                box-sizing: border-box;
                border-radius: styles.$borderRadius1 0px 0px styles.$borderRadius1;
                border: none;
                outline: none;

                padding-left: styles.$spacing2;

                &::placeholder {
                    color: styles.$colorGrayLighter;
                }
            }
            
            &__action {
                height: $input-height;
                width: calc($input-height * 1.2);
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: styles.$colorLightgray;
                cursor: pointer;

                &:hover {
                    background-color: styles.$colorGrayLighter;
                }
            }
        }

    }
}
