@use '../../styles/global.scss' as styles;

.button {
    padding: styles.$spacing2 styles.$spacing3;
    border-radius: styles.$borderRadius1;
    border: none;
    outline: none;
    font-size: styles.$fontSmall;
    cursor: pointer;
    
    &--primary {
        background-color: styles.$colorAction;
        color: styles.$colorWhite;
        
        &:hover {
            background-color: styles.$colorActionLight;
        }
    }
}
